body {
  margin: 0;
  border-radius: 20%;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #798bae;
  color: #0e0701;
  -webkit-user-select: none;
}

.container {
  display: flex;
  border-radius: 0%;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
  margin-top: 5%;
}
h2 {
  text-decoration-line: underline;
  font-size: 25px;
}

img {
  width: 300px;
  margin: 0 auto;
  border-radius: 20%;
  height: 250px;
}

input {
  background-color: #e8ece7df;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: initial;
  margin: 10px 0;
}

button {
  color: #090909;
  background-color: #c2a4b5;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

button:hover {
  background-color: #395458;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  font-size: 20px;
  background-color: #c6c5c4;
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
}

ul li:hover {
  background-color: #395458;
  cursor: pointer;
}